<h1>Hello {{name}} Here is your To Do List!</h1>
<h2>You have {{toDoCount}} items on your to do list.</h2>
<form method="post">
  <label for="toDoName">To-Do:</label>
  <input type="text" name="name" id="toDoName"><br>
  <label for="toDoCity">City:   </label>
  <input type="text" name="city" id="toDoCity"><br>
  <label for="toDoTemp">Temp: </label>
  <input type="number" name="temp" id="toDoTemp"><br>
  <input type="submit" name="Add Item" value="Add Item">
</form>
{{#if toDoList}}
<ul>
  {{#each toDoList}}
    <li style="background-color:{{getColor this.temp this.city}}">
<!--  <li style="background-color:red"> -->
    <h3>{{this.name}}</h3>
    <ul>
    	<li>City: {{this.city}}</li>
    	<li>City Temp: {{this.owmTemp}}</li>
    	<li>Minimum ToDo Temp: {{this.temp}}</li>
    </ul>
    <form method="post">
      <input type="hidden" name="id" value="{{this.id}}">
      <input type="submit" name="Done" value="Done">
    </form>
  </li>
  {{/each}}
</ul>
{{/if}}